API_KEY_IFLYTEK_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx \
API_KEY_IFLYTEK_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx \
API_KEY_01AI=00000000000000000000000000000000 \
API_KEY_GOOGLE=AIxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx \
DEBUG=1 \
deno run --allow-net --allow-read --allow-env=API_KEY*,SERVE_PORT,DEBUG \
main.js
